.container {
  width: 1200px; 
  height: 100;
  font-size: 20px;;
  color:rgb(0, 28, 100);
  background-color: rgb(255, 255, 255);
  padding: 20px;
}

.header_nav{
  display: flex;
  margin: 15px;
  gap: 15px;
  padding-bottom: 10px;
  border-bottom: 1.5px solid rgb(0, 28, 100);
}